.navbar {
  background-color: rgba(245, 245, 220, .5);
  text-align: right;
}

.navbar-brand {
  color: cornflowerblue;
}

.navbar-light .nav-link {
  color: #333333;
}

.navbar-light .nav-link:hover {
  color: cornflowerblue;
}

button {
  color: #333333;
}
