<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-5 rolam">
      <img src="assets/images/verus-foto.jpg" alt="rólam kép" class="img-fluid w-100">
    </div>
    <div class="col-sm-12 col-md-5 rolam">
      <h2>Rólam</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac ullamcorper leo, fringilla sagittis turpis. Ut vestibulum arcu lorem, ac placerat nunc facilisis eget. Praesent at nisl dui. Aliquam erat volutpat. Nunc at bibendum lectus. Proin eu nisl eget augue eleifend dictum. Nunc vestibulum, justo nec pretium fringilla, felis est ultricies lorem, quis congue mauris lacus sit amet justo. Nulla mattis et leo id faucibus. Nulla facilisi. Integer bibendum urna vitae leo posuere, ac tempus leo rhoncus. Integer pulvinar ex massa, eu sagittis mauris congue sit amet. Duis consequat arcu et velit sollicitudin, hendrerit faucibus augue hendrerit. Donec lobortis dolor eu justo ultricies scelerisque.

        Praesent in nisl ipsum. Fusce eu molestie libero. Nullam pharetra mi vehicula metus sagittis lacinia. Nullam eget mi non augue varius eleifend id vitae ipsum. Sed condimentum mi eget hendrerit vehicula. Vestibulum orci tellus, commodo nec ex quis, luctus dapibus nisi. Pellentesque in tellus sit amet sapien sodales ornare. Integer imperdiet magna urna, vel ornare magna lacinia a. Fusce tempor accumsan tortor vitae lobortis. Etiam et ligula lectus.

        Vivamus quis lectus at elit feugiat porta in ut odio. Nam euismod, nulla sed laoreet interdum, odio nibh pulvinar ex, sit amet cursus mauris risus sit amet neque. Nulla vulputate venenatis malesuada. Pellentesque non faucibus lectus, a feugiat ex. Ut pharetra felis quis nulla mattis faucibus. Donec dapibus fringilla lectus, sit amet ullamcorper ligula rhoncus sed. Curabitur molestie dui nec justo dignissim, eget iaculis nisi auctor. Suspendisse laoreet ornare condimentum. Ut eget ex eros.

        Sed dignissim, sapien a egestas sodales, tortor lorem iaculis est, accumsan sodales est nisi ac purus. Curabitur massa massa, vulputate at maximus ac, efficitur sit amet risus. Mauris consequat suscipit nibh, quis egestas augue convallis eu. Pellentesque in magna eget justo volutpat iaculis. Curabitur sed odio tellus. Praesent eu dapibus arcu. Quisque eget odio leo. Nulla nisl tortor, consequat vel diam vitae, tincidunt mollis lectus.

        Ut vel mi cursus, blandit velit non, ultrices tortor. Cras efficitur tempor nisl nec rutrum. Cras sit amet quam feugiat, finibus lectus quis, tempus mi. Pellentesque viverra nisi ut velit pharetra, vel semper felis mattis. Quisque sit amet maximus nibh. Donec at pulvinar est. Phasellus efficitur dapibus odio, sed semper augue mollis vitae. Etiam ultricies ligula non nisl bibendum euismod. Ut lectus ipsum, aliquam quis est eu, condimentum bibendum nisi. Sed dignissim felis et est sagittis eleifend.</p>
    </div>
  </div>
</div>
